# Virtual Environment

venv/
env/

# Python cache

**pycache**/
*.py[cod]

# Django

db.sqlite3

# Environment variables

.env

# IDE settings

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db

# Logs

*.log
